<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Show</title>
    <style>
        #box{
            display: flexbox;
        }
    </style>
</head>
<body>
    <h1>Welcome, Name</h1>
    <h2>Recipe</h2>
    <div id="box">
        <div id="leftSide">
            <h3>Description:</h3>
            <h3>Under 30 Minutes?</h3>
            <h3>Instructions:</h3>
            <h3>Date Made:</h3>
        </div>
        <div id="rightSide">
            <p>description</p>
            <p>yes</p>
            <p>instructions</p>
            <p>date made</p>
        </div>
    </div>
</body>
</html>