<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome, {{name}}</h1>
    <h4>All posted recipes:</h4>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Under</th>
                <th>Posted By</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>Name</td>
                <td>Under</td>
                <td>Posted By</td>
                <td>Actions</td>
            </tr>
            
        </tbody>
    </table>
</body>
</html>